#metric {
  .metric2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 30px 0 ;
    &--block{
      h2{
        font-family: 'DM Sans',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.750316px;
        color: #19191B;
        margin: 20px 0 ;
      }
      p{
        font-family: 'Mulish',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.500211px;
        color: #696871;

      }
    }
  }
  .metric {
    padding: 50px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;


    &--text {
      h1 {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 57px;
        color: #19191B;
      }

      p {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #696871;
        margin: 30px 0 ;
      }

      a {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.531474px;
        color: #5454D4;
      }
    }
  }
}